.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;

}

.header__menu {
  width: 391.48px;
  height: 22px;
}

.header__links-list {
 display: flex;
 gap: 32px;
list-style: circle;
font-size: 18px;
}

.header__links-list-item {
text-decoration: underline;

}

.header__link_header__link_active {
text-decoration: none;
}

.header__logo {
display: block;
width: 148px;
margin: 0 auto;
 }

.header__logo-image {
  width: 100%;
height: auto;
}

.header__address {
  width: 240px;
  height: 98px;
  border: none;
  border-bottom: 1px;
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  padding: 0;

  margin-left: auto;
}

.adress__link {
text-decoration: underline;
}

.address {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
font-size: 18px;
font-style: normal;

line-height: 1.35;
}




.cover {
  width: 1100px;
  height: 957px;
}

.cover_title {

}

.cover__description {

}

.cover__description-text {

}

.bet-button {

}

.lots {
 width: 1052px;
  height: 723px;
}
.lots_heading {

}
.lots_card-list{

}

.lots_card-list-item {

}
.card_link {

}
.card {

}
.card_content {

}

.card_title {

}

.card_text {

}

.card_type_film {}
.card_type_book {}
.card_type_picture {}
.lots__look-more-link {

}

.about {
 width: 1052px;
  height: 595px;
}
.about__logo {

}
.about_logo-image {

}
.about_column {

}
.about__title {

}
.description_block {

}
.about_text {

}
